
.content{
    padding-top: 85px !important;
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.category-icon{
	font-size:20px;
}
.category-icon-small{
	font-size:22px;
}
.country-select label, .checkout-form-list label {
	color: #333;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	margin: 0 0 5px;
	display: block;
}
.checkbox-form h3 {
	border-bottom: 1px solid #e5e5e5;
	font-size: 30px;
	margin: 0 0 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.checkout-form-list {
	margin-bottom: 30px;
}
.checkout-form-list label {
	color: #333;
}

.checkout-form-list label span.required {
	
}

.checkout-form-list input[type=text], .checkout-form-list input[type=password],
	.checkout-form-list input[type=email] {
	border: 1px solid #e5e5e5;
	border-radius: 0;
	height: 42px;
	width: 100%;
	padding: 0 0 0 10px;
	background: #fff none repeat scroll 0 0;
}

.checkout-form-list {
	
}

.checkout-form-list input[type=checkbox] {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: 2px;
}
.table-content table td.product-name a:hover, .buttons-cart a:hover {
	color: #C2A773
}

.buttons-cart {
	margin-bottom: 30px;
	overflow: hidden;
}

.buttons-cart input, .coupon input[type="submit"], .buttons-cart a,
	.coupon-info p.form-row input[type="submit"] {
	background: #252525 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	 display: inline-block; 
	float: left;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	margin-right: 15px;
	padding: 0 15px;
	text-shadow: none;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	white-space: nowrap;
}

.buttons-cart input:hover, .coupon input[type=submit]:hover,
	.buttons-cart a:hover {
	background: #C2A773;
	color: #fff
}

.buttons-cart a {
	color: #fff;
	float: left;
	height: 40px;
	line-height: 40px;
}
.wc-proceed-to-checkout a {
	background: #C2A773 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	padding: 0 30px;
	text-transform: none;
}

.wc-proceed-to-checkout a:hover {
	background: #000;
	color: #fff;
}
.card-price{
	line-height: 12px;
    margin-bottom: 4px;
}


.card-img-top{
	height: 255px;
}
.card-title{
font-size: 20px;
}
.card-body{
	height: 200px;
}
.price {
    align-self: stretch;
    color: rgb(245, 5, 5);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0px;
    padding: 8px 0px 0px;
}
.price .discount {
    margin-left: 8px;
    color: rgb(120, 120, 120);
    font-size: 13px;
    font-weight: 300;
    line-height: 1.6;
}
.price .oldprice {
    display: block;
    margin-left: 0px;
    color: rgb(120, 120, 120);
    font-size: 13px;
    font-weight: 300;
    text-decoration: line-through;
}
    
    